html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  display: grid;
  margin: 0;
  background: #75A6B4;
}

.container {
  height: 80%;
  background: #E5EEEB;
  text-align: center;
}
.container h1 {
  padding: 30px;
  font-size: 5em;
  margin: 0;
}

section {
  text-align: center;
  padding: 8em 0;
}
section h2 {
  font-size: 3em;
  margin-top: -100px;
}

.cloud1 {
  animation: cloud-animate1 15s alternate-reverse infinite linear;
}

.cloud2 {
  animation: cloud-animate1 17s alternate-reverse infinite linear;
}

.cloud3 {
  animation: cloud-animate1 12s alternate-reverse infinite linear;
}

.rightBirds {
  animation: birds-animate1 20s alternate-reverse infinite linear;
}

.centerBirds {
  animation: birds-animate2 20s alternate-reverse infinite linear;
}

.leftBirds {
  animation: birds-animate3 20s alternate-reverse infinite linear;
}

.waves {
  animation: waves-animate 20s alternate-reverse infinite linear;
}

@keyframes cloud-animate1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}
@keyframes cloud-animate2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
@keyframes birds-animate1 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-100px) translateY(100px);
  }
}
@keyframes birds-animate2 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(125px) translateY(-50px);
  }
}
@keyframes birds-animate3 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-50px) translateY(-100px);
  }
}
@keyframes waves-animate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
.javascript, .java, .python {
  position: absolute;
  filter: drop-shadow(22px -12px 7px rgba(0, 0, 0, 0.35));
}

.java {
  top: 2%;
  left: 25%;
  width: 14%;
  transform: rotate(-10deg);
  animation: java 2s infinite alternate-reverse ease-in-out;
}

.javascript {
  top: 45%;
  left: 66%;
  width: 8%;
  transform: rotate(10deg);
  animation: javascript 4s infinite alternate-reverse ease-in-out;
}

.python {
  top: 82%;
  left: 42%;
  width: 9%;
  transform: rotate(15deg);
  animation: python 3s infinite alternate-reverse ease-in-out;
}

.downArrows {
  top: 82%;
  left: 40%;
  width: 8%;
  animation: downArrows 1s infinite alternate-reverse;
  cursor: pointer;
}

@keyframes java {
  from {
    transform: translateY(10px) rotate(-10deg);
  }
  to {
    transform: translateY(0) rotate(-15deg);
  }
}
@keyframes javascript {
  from {
    transform: translateY(10px) rotate(10deg);
  }
  to {
    transform: translateY(0) rotate(5deg);
  }
}
@keyframes python {
  from {
    transform: translateY(10px) rotate(15deg);
  }
  to {
    transform: translateY(0) rotate(5deg);
  }
}
@keyframes downArrows {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
